<app-navbar></app-navbar>
<h2 class="text-2xl mt-2 font-bold text-center">Welcome Student</h2>
<div class="h-screen w-screen flex items-center justify-center grid-cols-3">
  <div class="w-2/3 rounded-xl shadow-xl">
    <div class="p-6">
      <div class="flex flex-row justify-between">
        <div
          class="uppercase text-xs text-yellow-700 bg-yellow-200 px-2 py-1 rounded-xl"
        >
          Pending
        </div>
        <div class="text-xs text-red-700 bg-red-200 px-2 py-1 rounded-xl">
          Ends on December 31, 2023
        </div>
      </div>
      <h2 class="text-2xl mt-2 font-bold">The Road to Freedom</h2>
      <p class="mt-2 text-gray-600">
        Freelancing can be a great way to move towards freedom in your life. You
        can work anywhere, everywhere.
      </p>
      <div class="flex flex-row mt-4 items-center">
        <img class="rounded-full mr-2 w-8 h-8" src="/assets/img/avatar.png" />
        <div class="font-bold mr-2">John Smith</div>
        <div class="text-gray-400">On October 9, 2020</div>
      </div>
      <br />
      <a
        href="/courses-card"
        class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-950 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
      >
        Scheduler
        <svg
          class="ml-2 w-3.5 h-3.5"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 14 10"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M1 5h12m0 0L9 1m4 4L9 9"
          />
        </svg>
      </a>
    </div>
  </div>
</div>
